<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Schoolbell&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style.css" />
    <title>Assignment Added</title>
  </head>
  <body>
    <h1>Assignment Added</h1>
    <p>This assignment was added.</p>
    <p>Name: {{name}}</p>
    <p>Score: {{score}}</p>
    <p>Total: {{total}}</p>
    {{#if completed}}
      <p>Completed: Yes</p>
    {{else}}
      <p>Completed: No</p>
    {{/if}}
    <a href="/">See all assignments</a>
  </body>
</html>